@page
@using MenuSystemWeb.Pages.Shared;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    FoodItem aa = new FoodItem("Burger", 20, 3, 59);
    
}

<div class="text-center">
    <h1>
        @aa.getdisplay();
    </h1>
</div>
