version: '3.9'

services:
  web:
    build: .
    container_name: restaurant_menu_web
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=restaurantdb;Username=postgres;Password=postgres
    volumes:
      - .:/app

  db:
    image: postgres:16
    container_name: restaurant_menu_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: restaurantdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
